@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

.DesktopNav{
    display:flex;
}
.mw {
  max-width: 80%;
}
.mw-90{
    max-width:90%;
}
.NavLinks ul li a {
  transition: 0.5ms ease-out;
  &:hover {
    color: white;
  }
}
.MobileNav {
  display: none;
}
@media screen and (max-width: 800px) {
  .DesktopNav {
    display: none;
  }
  .MobileNav {
    display: flex;
    align-items: center;
  }
  /* the mobile nav toggling */
  .HamburgerMenu {
    position: absolute;
    right: 3%;
    cursor: pointer;
  }
 
}
