@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

.DesktopNav {
  display: flex;
}
.d-btn {
  box-shadow: 0 4px 6px -1px #488aec31, 0 2px 4px -1px #488aec17;
  transition: all 0.6s ease;
}
.d-btn:hover {
  background-color:#cff72b;
  box-shadow: 0 10px 15px -9px #ecff9e, 0 4px 6px -2px #488aec17;
}
.d-btn:focus,
.d-btn:active {
  opacity: 0.85;
  box-shadow: none;
}

.NavLinks ul li a {
  transition: 0.5ms ease-out;
  &:hover {
    color:black;
    background-color:#e0e0e0;
  }
}
.MobileNav {
  display: none;
}
@media screen and (max-width: 768px) {
  .DesktopNav {
    display: none;
  }
  .MobileNav {
    display: flex;
    align-items: center;
  }
  /* the mobile nav toggling */
  .HamburgerMenu {
    position: absolute;
    right: 3%;
    cursor: pointer;
  }
  .NavLinks {
    transition: top ease-in-out 3s;
  }
  .Navlinks ul li:hover {
    color: white;
    transition: color ease-out 0.5s;
  }
}
