@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

html {
  scroll-behaviour: smooth;
}
.mw {
  max-width: 85%;
}
.border-6 {
  border-width: 6px;
}
/* about styling */
.about-container {
  padding-block: 8rem;
}
.guidelines-content {
  margin-top: 48px;
  margin-bottom: 80px;
}
.gc-container {
  background-color: #eef3ff;
}
.slide-content p,
span,
li {
  font-size: 14px;
}
.about-container .top p > span:first-child {
  display: none;
}
.w-86 {
  width: 55%;
}
.slide-content {
  padding-inline: 3rem;
}
.slide-content h3 {
  font-size: 20px;
  padding-top: 16px;
  padding-bottom: 12px;
}
.gc-line {
  margin-block: 16px;
}
.slide-content li {
  line-height: 24px;
}
.discover {
  line-height: 40.8px;
}
.slide-img {
  width: 500px;
  height: 420px;
  border-radius: 16px;
  display: flex;
}
.gc-content {
  height: 420px;
}
.space-y-3 > * + * {
  margin-top: 0.75rem;
}
.slide {
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

/* services styling */
.services-section {
  background-color: #eef3ff;
}
.services-container {
  padding-block: 5rem;
}
.a-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 30px 20px;
  border: 1px solid #ececec;
  transition: all ease 0.5s;
}
.a-card:nth-child(2) {
  border: 0;
}
.a-card:hover {
  box-shadow: none;
}
.card-container p {
  line-height: 22px;
}
/* category styling */
.c-container {
  padding-block-start: 8rem;
  padding-block-end: 8rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 18px;
}
.c-container h3 {
  font-weight: 600;
}
.c-container .left-container h2 {
  line-height: 32px;
}
.category-img {
  width: 400px;
  height: 300px;
}
.job-categories p,
.job p {
  line-height: 24px;
}
/* featuredjob styling */
.featured-container {
  padding-bottom: 50px;
}
.filter-list {
  margin-top: 20px;
  margin-bottom: 39px;
}
.filter-btn {
  padding-block: 8px;
  padding-inline: 26px;
}
.filter-btn:first-child {
  width: 5.2rem;
  height: 2.4rem;
}
.filter-btn:hover:not(:first-child),
.filter-btn:focus:not(:first-child) {
  background-color: #244034;
  color: white;
  transition: all ease 0.8s;
  outline:none;
}
.job {
  width: 19rem;
  height: 16rem;
  padding-block: 28px;
  padding-inline: 18px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #ffff;
  border-radius: 18px;
}
.job:first-child {
  background-color: #244034;
  color: white;
}
.job span.icon {
  background-color: #eaeaea;
}
.job:hover span.icon {
  background-color: white;
}
.job:first-child span.icon {
  background-color: white;
}
.job:not(:first-child) {
  border: 2px solid #ececec;
}
.job:hover:not(:first-child),
.job.active {
  background-color: #244034;
  color: white;
  transition: all ease-in 0.4s;
  border: 0;
  cursor: pointer;
}
.job h3,
h4 {
  font-weight: 600;
  font-size: 15px;
}

.job p {
  font-size: 14px;
}
/* blog styling */
.blog-cards {
  margin-top: 1rem;
}
 .main-blog img {
  height: 25rem;
}
.img-overlay {
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  transition: left 0.3s ease-in-out;
}
.group:hover .img-overlay {
  left: 0;
}

.list-content h3 {
  margin-top: 4px;
  line-height: 20px;
}
/* testimonials */
.testimonials-container h2 {
  max-width: 35%;
}
.testimonials-container p {
  line-height: 22px;
}
.testimonials-container button {
  width: 2.5rem;
  height: 2.5rem;
  font-size: 20px;
}
.testiomial-card {
  display: flex;
  justify-content: center;
  gap: 16px;
}
.feedback:first-child {
  background-color: #244034;
  color: white;
}
.feedback:first-child p {
  color: white;
}
.feedback:hover:not(:first-child) {
  background-color: #244034;
  color: white;
  transition: all 0.3s ease-in;
}
.feedback:hover:not(:first-child) p {
  color: white;
}
/* cta */
.cta-container {
  height: 16rem;
  padding-inline:4rem;
  padding-block:4rem;
  display: flex;
  align-items: center;
  justify: center;
  background-color:#cff72b;
  max-width: 82%;
}
.cta-container h2 {
  width: 50%;
  line-height: 40px;
}
.cta-container button {
  width: 9.8rem;
  height: 3.5rem;
  background-size: 100% auto;
  border: none;
  background: linear-gradient(to right, #f0f0f0, white);
}
.cta-container button:hover {
  background-position: right center;
  background-size: 200% auto;
  -webkit-animation: pulse 2s infinite;
  animation: pulse512 1.5s infinite;
}

@keyframes pulse512 {
  0% {
    box-shadow: 0 0 0 0 #05bada66;
  }

  70% {
    box-shadow: 0 0 0 10px rgb(218 103 68 / 0%);
  }

  100% {
    box-shadow: 0 0 0 0 rgb(218 103 68 / 0%);
  }
}
/* footer */
.input-wrapper input {
  width: 380px;
  height: 2.8rem;
}
.input-btn {
  height: 2.8rem;
  position: absolute;
  padding-inline: 24px;
  padding-block: 12.6px;
  right: 0.9px;
}
.input-btn:hover {
  background-color: #cff72b;
}
.s-icon {
  padding: 6px 5px;
  transition: background-color 0.3s ease;
}
.s-icon:hover {
  border-radius: 50%;
  background-color: #f7f7f7;
  color: black;
}
.middle2 li a:hover {
  cursor: pointer;
}
.fb-content a {
  cursor: pointer;
}
.fb-content a:hover {
  color: white;
}
.fb-content a,
.fb-content span {
  font-size: 14px;
}
@media screen and (max-width: 1078px) {
  .cta-container h2 {
    width: 58%;
    line-height: 40px;
  }
  .cta-container {
    height: 16rem;
    padding-inline:2rem;
    padding-block:2rem;}
}
@media screen and (max-width: 948px) {
  /* guidelines styling */
  .mw {
    max-width: 90%;
  }
  .about-container .top h2,
  .testimonials-container h2 {
    font-size: 26px;
    line-height: 30.8px;
  }
  .about-container .top p > span:last-child {
    display: none;
  }
  .gc-content {
    height: 300px;
  }
  .slide-img {
    width: 350px;
    height: 300px;
    border-radius: 16px;
    display: flex;
    justify-item: flex-start;
  }
  .slide-content {
    padding: 1rem;
  }
  .slide-content h3 {
    font-size: 16px;
    padding-top: 12px;
    padding-bottom: 4px;
  }
  .gc-line {
    margin-block: 12px;
  }
  .slide-content p,
  li,
  span {
    font-size: 13px;
  }
  .slide-content li {
    line-height: 20px;
  }
  .slides-container p {
    font-size: 13px !important;
  }
  .slides-container span,
  h4 {
    font-size: 14px;
  }
  /* services styling */
  .services-container p,
  .blog-cards p {
    font-size: 14px;
  }
  .services-container h2 {
    font-size: 26px;
  }
  .services-container h3 {
    font-size: 16px;
  }
  /* category */
  .c-container {
    padding-block-start: 26px;
    padding-block-end: 50px;
  }
  .c-container h2 {
    font-size: 26px;
  }
  .right-container {
    display: none;
  }
  .job-categories h3,
  .blog-list h3,
  .blog-cards h3,
  .feedback h3 {
    font-size: 15px;
  }
  /* featuredjob styling */
  .filter-btn {
    padding-block: 6px;
    padding-inline: 16px;
  }
  /* blog */
  .blog-cards {
    flex-direction:column;
  }
  .blog-cards .side-cards {
    margin-top: 2rem;
  }
  .side-cards p,
  .testimonials-container p{
    font-size: 12px;
  }
  /* testimonials */
  .testimonials-container button {
    font-size: 18px;
  }
  /* cta */
  .cta-container h2 {
    max-width: 84%;
  }
}
@media screen and (max-width: 768px) {
  .mw {
    max-width: 90%;
  }
  /* about styling */
  .about-container {
    padding-block: 4rem;
  }
  .slide-img,
  .slides-container {
    display: none;
  }
  .slide-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-inline: 0.9rem;
    padding-block: 1.6rem;
  }
  .guidelines-content {
    margin-top: 32px;
    margin-bottom: 0;
  }
  .about-container .top p {
    display: none;
  }
  .gc-content {
    height: auto;
  }
  /* services styling */
  .services-section {
    background-color: inherit;
  }
  .services-container {
    padding-top: 0;
  }
  .card-container {
    flex-direction: column;
  }
  .a-card {
    padding: 38px;
  }
  /* featured */
  .featured-container h2,
  .testimonials-container h2 {
    font-size: 26px;
  }
  .filter-btn {
    padding-block: 4px;
    padding-inline: 8px;
  }
  .filter-btn:first-child {
    width: 3.8rem;
    height: 2.2rem;
  }
  .job {
    width: auto;
  }
  .job-list-container {
    margin-top: 1.2rem;
  }
  .job:nth-child(5),
  .job:nth-child(6) {
    display: none;
  }
  .job p{
    font-size:13px;
  }
  /* testimonial */
  .testimonials-container h2 {
    max-width: 100%;
    text-align: left;
  }
  .testiomial-card {
    flex-direction: column;
  }
  .testimonials-container button {
    width: 1.8rem;
    height: 1.8rem;
  }
  .feedback {
    width: 100%;
  }
  .main-blog img {
    height:20rem;
    width:40rem
  }
  /* cta */
  .cta-container {
    max-width: 89%;
    padding-inline: 14px;
    padding-block: 10px !important;
  }
  .cta-container h2 {
    font-size: 26px;
    width: 100%;
    line-height: 36px;
  }
  .cta-container > div {
    flex-direction: column;
    text-align: center;
  }
  .cta-container > div > button {
    width: 8rem;
    height: 3rem;
  }
  /* footer */
  .logo a {
    font-size: 16px;
  }
  .middle2 {
    display: none;
  }
}
@media screen and (max-width: 684px) {
  .mw {
    max-width: 95%;
  }
  .c-container h2 {
    width: 400px;
  }
  .filter-list {
    display: none;
  }
  /* cta */
  .cta-container {
    max-width: 90%;
    padding-inline: 12px !important;
    padding-block: 14px;
  }
  .cta-container  h2{
    line-height: 32px;
   }
  /* footer stylying */
  .f-bottom {
    display: flex;
    flex-direction: column;
    align-items: start;
  }
  .fb-content {
    flex-direction: column;
    justify-content: center;
  }
  .fb-content a,
  .fb-content span {
    font-size: 12px;
  }

}
@media screen and (max-width: 450px) {
  .job {
    width: auto;
    height: 14rem;
    padding-block: 28px;
    padding-inline: 10px;
  }
  .job p{
    line-height:20px;
  }
  .job-list-container{
    gap:6px;
  }
   .cta-container > div h2 {
    font-size: 22px;
  }

}
