/* CSS Reset */
*, *::before, *::after {
  box-sizing: border-box;
}
* {
  margin: 0;

}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased; 
  background-color: #fcfcfc;
}
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}
input, button, textarea, select {
  font: inherit;
}
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}
#root, #__next {
  isolation: isolate;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

/* index styling */
body {
  min-width: 320px;
  min-height: 100vh;
}
/* Remove outline from all buttons and input elements */
button, input {
  outline: none;
}
/* Optionally, you can add a focus style for accessibility */
button:focus, input:focus {
  box-shadow: none;
  border:0;
}


